body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
    position: fixed; /* Evita scroll indesejado no mobile */
}

.app-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#output_canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.controls {
    position: absolute;
    bottom: 50px; /* Subi um pouco para não sumir no iPhone */
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    z-index: 10; /* Garante que fica na frente do canvas */
}

.btn {
    padding: 15px 20px;
    border-radius: 30px;
    border: 2px solid white;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

#btn-video.recording {
    background: red;
    border-color: darkred;
}
